In [2]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [3]:
# Load in File from resources
# 'cities.csv'
file = os.path.join("cities.csv")

In [4]:
# Read and display with pandas
original_df = pd.read_csv(file)
original_df.head()

,City_ID,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kaoma,-14.78,24.80,60.71,48,0,10.85,ZM,1592461893
1,1,Sochi,43.60,39.73,78.80,69,20,2.24,RU,1592461730
2,2,Sibolga,1.74,98.78,79.39,76,100,6.24,ID,1592461893
3,3,Puerto Ayora,-0.74,-90.35,66.99,94,14,8.59,EC,1592461888
4,4,Lorengau,-2.02,147.27,84.74,75,0,11.16,PG,1592461893

In [7]:
# Convert to HTML and export
original_df.to_html("cities.html", index=False)